@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Producto", "Index","Productoes")</li>
            <li>@Html.ActionLink("Encargado", "Index", "Encargadoes")</li>
            <li>@Html.ActionLink("Sucursal", "Index", "Sucursals")</li>
            <li>@Html.ActionLink("Sucursales Envian", "Index", "SucursalEnvias")</li>
            <li>@Html.ActionLink("Sucursales Reciben", "Index", "SucursalRecibes")</li>
            <li>@Html.ActionLink("Envia", "Index", "Envias")</li>
            <li>@Html.ActionLink("Recibe", "Index", "Recibes")</li>
            <li>@Html.ActionLink("Departamento", "Index", "Departamentoes")</li>
            <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>
            <li>
                @Html.ActionLink("Hola! " + User.Identity.GetUserName() + "👋", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
