@model IEnumerable<EmpresaNavidadORM.Models.Sucursal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.encargados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipios.NombreMunicipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreTienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.encargados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipios.NombreMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTienda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
